body {background-color: white ;
      font-size: large;
  }
  
  div {width: 700px;;
      font-family: Helvetica Neue;
      background-color: white;
      padding: 30px;
    
  }
  
  h1
   {font-size: 50px;
    color: red;
    margin:center;
  }
  
  table
  {color: greenyellow;
   }